h2{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: burlywood 2px 2px 2px;
}

/*dinh dang the img*/
img{
    padding: 10px;
    margin: 25px;
    border: cadetblue dotted thick; 
}