/* day la file css cho cac bai tap cua thu muc d03 */
/*universal selector */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* type selector */
a {
    text-decoration: none;
}
h2 {
    color: crimson;
}
/* class selector co ten bat dau bang dau . */
.autumn {
    font-style: italic;
    width: 50%;
    border: double medium brown;
    margin: 10px;
    padding: 2rem;
    background-image: url("../../IMAGES/hang-nga.jpg");
    background-repeat: no-repeat;
    background-position: unset;
}
/* pseudo class :: first-letter, ap dung cho 1 ky tu dau tien cua the p co class =  title */
p.title::first-letter {
    font-size: 200%;
}
/* pseudo class :: first-line, ap dung cho 1 dong dau tien cua the p co class =  title */
p.title::first-line {
    font-style: normal;
    font-weight: bold;
}
p {
    text-indent: 50px;
}
/* id selector, co ten bat dau bang dau # */
#menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: salmon;
}
/* pseudo class :: hover*/
a:hover {
    background-color: red;
    color: sandybrown;
}
div>p>img {
    border: indigo double thick;
    border-radius: 50%;
    width: 50%;
}